@model ImageServiceWeb.Models.PhotoWeb

@{
    ViewBag.Title = "DeletePhoto";
}

<!--
    styling    
-->
<h2>Delete Photo</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2{
            text-decoration: underline;
  font-size: 30px;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            border-radius: 8px;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .button2 { /* Blue */
            background-color: #008CBA;
        }

        .button3 { /* Red */
            background-color: #f44336;
        }
    </style>
</head>
<h4>Are you sure you want to delete this photo? @*@Html.DisplayFor(model => model.PhotoName) ?*@</h4>

<!--
    display data types    
-->
<br />
<div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@Url.Content(Model.ThumbPhoto)" class="img-circle" alt="not work.." width="242" height="200">
                <div class="caption">
                    <p>Photo name: @Html.DisplayFor(model => model.PhotoName)</p>
                    <p>Data of month: @Html.DisplayFor(model => model.PhotoDate)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<input type="button" class="button button3" id="btnOk" value="Yes">
<input type="button" class="button button2" id="btnCancel" value="Cancel" onclick='window.location="Photos";' />

<!--
    javascript to on click    
-->
<script>
    $("#btnOk").click(function () {
        $.post("@Url.Action("deleteAfterOkPics")", function () {
            window.location.href = "/Photo/Photos";
        });
    });
</script>
